<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eratart.baristashandbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.BhApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name=".presentation.appinfo.view.AppInfoActivity"
            android:theme="@style/BaseActivityTheme" />

        <activity
            android:name=".presentation.artinstructions.view.ArtInstructionsActivity"
            android:theme="@style/BaseActivityTheme" />

        <activity
            android:name=".presentation.dishdetails.view.DishDetailsActivity"
            android:theme="@style/BaseActivityTheme" />

        <activity
            android:name=".presentation.disheslist.view.DishesListActivity"
            android:theme="@style/BaseActivityTheme" />

        <activity
            android:name=".presentation.favorites.view.FavoritesActivity"
            android:theme="@style/BaseActivityTheme" />

        <activity
            android:name=".presentation.itemdetails.view.ItemDetailsActivity"
            android:theme="@style/BaseActivityTheme" />

        <activity
            android:name=".presentation.itemscategorieslist.view.ItemsCategoriesListActivity"
            android:theme="@style/BaseActivityTheme" />

        <activity
            android:name=".presentation.itemslist.view.ItemsListActivity"
            android:theme="@style/BaseActivityTheme" />

        <activity
            android:name=".presentation.mainmenu.view.MainMenuActivity"
            android:theme="@style/BaseActivityTheme" />

        <activity
            android:name=".presentation.news_list.view.NewsListActivity"
            android:theme="@style/BaseActivityTheme" />

        <activity
            android:name=".presentation.news_details.view.NewsDetailsActivity"
            android:theme="@style/BaseActivityTheme" />

        <activity
            android:name=".presentation.onboarding.view.OnboardingActivity"
            android:theme="@style/BaseActivityTheme" />

        <activity
            android:name=".presentation.settings.view.SettingsActivity"
            android:theme="@style/BaseActivityTheme" />

        <activity
            android:name=".presentation.routing.view.RoutingActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.eratart.baristashandbook.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"></meta-data>
        </provider>
    </application>
</manifest>